<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cylonid.nativealpha">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
        android:value="false" />

    <application
        android:name="com.cylonid.nativealpha.util.App"
        android:allowBackup="true"
        android:icon="@mipmap/native_alpha"
        android:label="@string/app_name_unicode"
        android:roundIcon="@mipmap/native_alpha"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="true">

        <activity
            android:name="com.cylonid.nativealpha.MainActivity"
            android:label="@string/app_name_unicode"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:documentLaunchMode="intoExisting"
         />
                <activity
            android:name=".__WebViewActivity_0"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_0"
            android:documentLaunchMode="intoExisting"
         />
        <activity
            android:name=".__WebViewActivity_1"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_1"
            android:documentLaunchMode="intoExisting"
         />
        <activity
            android:name=".__WebViewActivity_2"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_2"
            android:documentLaunchMode="intoExisting"
         />
        <activity
            android:name=".__WebViewActivity_3"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_3"
            android:documentLaunchMode="intoExisting"
         />
        <activity
            android:name=".__WebViewActivity_4"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_4"
            android:documentLaunchMode="intoExisting"
         />
        <activity
            android:name=".__WebViewActivity_5"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_5"
            android:documentLaunchMode="intoExisting"
         />
        <activity
            android:name=".__WebViewActivity_6"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_6"
            android:documentLaunchMode="intoExisting"
         />
        <activity
            android:name=".__WebViewActivity_7"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_7"
            android:documentLaunchMode="intoExisting"
         />
        <activity
            android:name=".__WebViewActivity_8"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_8"
            android:documentLaunchMode="intoExisting"
         />
        <activity
            android:name=".__WebViewActivity_9"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar.Webapp"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:process=":web_sandbox_9"
            android:documentLaunchMode="intoExisting"
         />

        <activity
            android:name="com.cylonid.nativealpha.SettingsActivity"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.cylonid.nativealpha.WebAppSettingsActivity"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.cylonid.nativealpha.AboutActivity"
            android:label="@string/app_name_unicode"
            android:parentActivityName=".MainActivity"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        </activity>


    </application>

</manifest>