<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cylonid.nativefier">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/native_alpha"
        android:label="@string/app_name_unicode"
        android:roundIcon="@mipmap/native_alpha"
        android:supportsRtl="true"
        android:screenOrientation="portrait">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name_unicode"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/app_name_unicode"
            android:icon="@mipmap/native_alpha"
            android:roundIcon="@mipmap/native_alpha"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            android:alwaysRetainTaskState="true">
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>