header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#wrapper {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  max-width: 100%;
  width: 80%;
  flex-direction: column;
  overflow-wrap: break-word;
}

aside {
  display: none;
  width: 10%;
}

#eula {
  text-align: justify;
}

ul {
  list-style: none;
  padding: 0;
}

ul li::before {
  content: "✔";
  color: rgb(122, 122, 122);
  font-weight: bold;
  display: inline-block; 
  width: 2em;
}