header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  flex-direction: row;
}

aside {
  width: 20%;
}

article {
  width: 60%;
  text-align: justify;
}
