header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#wrapper {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  width: 60%;
  flex-direction: column;
}

aside {
  width: 20%;
}

#eula {
  text-align: justify;
}

ul {
  list-style: none;
}

ul li::before {
  content: "✔";
  color: rgb(122, 122, 122);
  font-weight: bold;
  display: inline-block; 
  width: 2em;

}